@font-face {
    font-family: 'PoppinsMedium';
    src: url('../fonts/Poppins-Medium.otf');
}
@font-face {
    font-family: 'PoppinsRegular';
    src: url('../fonts/Poppins-Regular.otf');
}
:root{
    --color-background: #fffdf7;
    --color-black: #212121;
    --color-text: #4f4f4f;
    --color-text-alt: #90908e;
    --color-primary: #ffbf00;
    --color-secundary: #fff2cc;
    --color-white: #ffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
    --color-separate: #cccccc;
    --shadow-button:0px 8px 20px rgba(0, 0, 0, 0.1);
    --shadow-button-vcardapio:8px 10px 15px -3px var(--color-primary);
    --border-radius-button:24px;
    --border-radius-ico:16px;
    --transitionall-03s: all 0.3s ease-in-out;
}


html, body {
    background-color: var(--color-background);
    font-family: 'PoppinsRegular', 'Rubik', sans-serif;
}

b{
    font-family: 'PoppinsMedium';
}
.nav-link{
    color: var(--color-black) !important;
    padding: 0 32px !important;
}

.navbar-brand{
    margin-left: -25px;
}

.btn-white{
    background-color: var(--color-white);
    color: var(--color-black) !important;
    border-radius: 20px;
    padding: 16px 24px 16px 24px;
    font-size: 20px;
    box-shadow: var(--shadow-button);

}
.btn-white.active ,.btn-white:hover{
    background-color: var(--color-primary);
    color: var(--color-white) !important;
    transition: var(--transitionall-03s);
}
.btn-icon-carrinho{
    display: inline-block;
    color:var(--color-black);
    background-color: var(--color-primary);
    width: 45px;
    height: 45px;
    position: absolute;
    right: 10px;
    margin-top: -8px;
    border-radius: 16px;
    text-align: center;
    padding-top: 8px;
}

.color-primary{
    color : var(--color-primary)!important ;
}
.banner{
    padding: 120px 0 200px 0;
}
.text-benner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.text-benner h1{
    color: var(--color-black);
    font-size: 60px;
}
.text-benner p{
    margin: 16px 0 16px 0px !important;
    font-size: 20px;
}
.botoes-banner{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 16px;
}
.btn-yellow{
    background-color: var(--color-primary);
    color: var(--color-white) !important;
    border-radius:var(--border-radius-button);
    padding: 16px 24px !important;
    box-shadow: var(--shadow-button);
}
.botoes-banner{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-icon-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 56px;
    padding: 8px 16px 8px 16px;
    box-shadow: var(--shadow-button);
    border-radius: var(--border-radius-button);
    background-color: var(--color-white);
    gap: 8px;
    border: none;
    color: var(--color-black);
}
.btn-icon-left:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: var(--transitionall-03s);
}
.btn-icon-left span.icon-left{
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--color-white);
    background-color: var(--color-primary);
    width: 45px;
    height: 45px;
    border-radius: var(--border-radius-ico);
    text-align: center;
}
.btn-icon-left span.icon-left:hover{
    background-color: var(--color-white);
    color: var(--color-primary);
    transition: var(--transitionall-03s);
}
.social-icons{
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 48px 0;
}
.btn-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 8px;
    box-shadow: var(--shadow-button);
    border-radius: 100%;
    background-color: var(--color-white);
    gap: 8px;
    border: none;
    color: var(--color-black);
    font-size: 18px;
}
.btn-social:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: var(--transitionall-03s);
}
.img-banner img{
    position: absolute;
    width: 570px;
    top: 30px;
    right: 15px;
}
.card-banner{
    width: 450px;
    height: 450px;
    border-radius: 20%;
    background-color: var(--color-primary);
    position: absolute;
    right: 0;
    top: -80px;
}
.card{
    border-radius: 20px;
    padding: 16px 24px;
    font-size: 20px;
    box-shadow: var(--shadow-button) !important;
    border: none !important;

}
.card-case{
    width: 350px;
    font-size: 14px;
    position: absolute;
    right: 0;
    bottom: -75px;
}
.card-casename{
    position: absolute;
    font-size: 12px;
    color: var(--color-primary);
    right: 20px;
    bottom: 10px;
}

.servicos{
    padding: 100px 0;
}
.hint-title{
    color: var(--color-primary);
    font-size: 16px;
    text-transform: uppercase;
}

.title{
    color: var(--color-black);
    font-size: 40px;
    margin-top: 8px;
    margin-bottom: 30px;
}
.card-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 8px;
    width: 150px;
    margin-bottom: 30px;
    margin: 0 auto;

}
.card-text{
    color: var(--color-text-alt);
    font-size: 16px;
    padding: 0 32px;
}
.card-text p {
    font-size: 24px;
    color: var(--color-black);
    margin-bottom: 16px;
}
.card-servicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background-servicos{
    position: absolute;
    left: 0;
    right: 0;
    height: 500px;
    background-image: url(../img/bg-icons-2.png);
}
.cardapio{
    padding-top: 50px;
    margin-bottom: 150px;
}