/* col-lg (desktops) >= 992px */
/* col-md (tablet) <=< 768px a 991px */
/* col-sm (celular) <=< 576px a 767px */
/* col- (tablet e celular) <=< 576px a 767px */

@media screen and (max-width: 767px) {
    .col-one {
        padding: 0px 32px !important;
    }

    .no-mobile {
        display: none;
    }

    .navbar-collapse {
        background-color: var(--color-secundary);
        padding: 16px;
        border-radius: 40px;
        text-align: center;
    }

    .nav-item {
        padding: 16px;
    }

    .navbar-collapse .btn-white {
        margin-top: 20px;
        padding: 8px 8px;
        width: 100%;
        margin: 0;
    }

    .navbar-collapse .btn-icon-carrinho {
        display: none !important;
    }

    .banner {

        padding-top: 50px;
        padding-bottom: 50px;

    }

    .text-banner h1 {
        font-size: 32px;

    }

    .text-banner p {
        font-size: 16px;
        text-align: justify;
    }

    .btn-white,
    .btn-yellow {
        padding: 14px 24px;
    }

    h1 {
        font-size: 32px;
        text-align: center;
    }
    .container-menu{
        overflow-x: auto;
        overflow-y: hidden;
        /*hidden*/
        display: flex;
        padding-bottom: 20px !important;

    }
    .servicos{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .card-item{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-bottom: 0px !important;
    }
    .card-item .img-produto{
        width: 92px;
    }
    .card-item .title-produto{
        font-size: 18px;
        padding: 0;
        margin: 0;
    }
    .card-item .price-produto{
        font-size: 18px;
        padding: 0px !important;
        margin: 0;
    }
    .card-item:hover{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding: 16px !important;
    }
    .card-secundary{
        padding: 32px;
        border-radius: 32px;
    }
}