/* col-lg (desktops) >= 992px */
/* col-md (tablet) <=< 768px a 991px */
/* col-sm (celular) <=< 576px a 767px */
/* col- (tablet e celular) <=< 576px a 767px */

@media screen and (max-width: 767px) {
    .col-one {
        padding: 0px 32px !important;
    }

    .no-mobile {
        display: none;
    }

    .navbar-collapse {
        background-color: var(--color-secundary);
        padding: 16px;
        border-radius: 40px;
        text-align: center;
    }

    .nav-item {
        padding: 16px;
    }

    .navbar-collapse .btn-white {
        margin-top: 20px;
        padding: 8px 8px;
        width: 100%;
        margin: 0;
    }

    .navbar-collapse .btn-icon-carrinho {
        display: none !important;
    }

    .banner {

        padding-top: 50px;
        padding-bottom: 50px;

    }

    .text-banner h1 {
        font-size: 32px;

    }

    .text-banner p {
        font-size: 16px;
        text-align: justify;
    }

    .btn-white,
    .btn-yellow {
        padding: 14px 24px;
        font-size: 14px;
    }

    .botoes-banner a {
        width: 100%;

    }

    .botoes-banner .btn-icon-left {
        padding: 8px 16px 8px 8px !important;
    }


    h1 {
        font-size: 32px;
        text-align: center;
    }
    .container-do-container-meu{
        width: 100%;
    }
    .container-menu {
        overflow-x: auto;
        overflow-y: hidden;
        /*hidden*/
        display: flex;
        justify-content: stretch;
        align-items: center;
        padding: 20px  16px!important;

    }

    .servicos {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .card-servicos {
        margin-top: 24px;
    }

    .card-item {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0px !important;
        width: 100%;
        padding: 16px !important;
    }

    .card-item .img-produto {
        width: 100px;
        margin-right: 16px!important;

    }

    .card-item .title-produto {
        display: flex;
        font-size: 18px;
        margin: 0;
        width: 100%;
        text-align: start;
    }

    .card-item .price-produto {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        padding: 0px !important;
        margin-left: 16px;
        margin-top: 0;
        width: 160px;
    }

    .card-item:hover {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 16px !important;
        height: 120px;
    }
    .card-item:hover img{
        width: 48px;
        margin: 0px !important;

    }
    .card-item:hover .price-produto{
        padding: 0px;
        margin: 0px !important;
        font-size: 14px;
        
    }
    .card-item:hover .add-carrinho{
       margin-left: 8px;
       margin-right: 8px;
    }
    .pr-5{
        padding: 0px !important;
        text-align: justify;
    }
    .card-secundary {
        padding: 32px;
        border-radius: 32px;
        margin: 0px 32px;
    }

    .hint-title {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .btn-carrinho {
        width: 60px;
        height: 60px;
        font-size: 24px;
    }
    #btnVerMais{
        margin-top: 16px !important;
    }
    .modal-full{
        padding: 24px;
    }
    .item-carrinho{
        padding: 8px  0px!important;
    }
    .item-carrinho .title-produto {
        font-size: 14px;
        overflow: hidden;
    }
    .modal-full .img-produto{
        width: 48px !important;
        margin: 0px;
    }
    .modal-full .dados-produto{
        padding-right: 0px !important;
        padding-left: 8px !important;
        overflow: hidden;
        width: 120px;
    }
    .item-carrinho .price-produto {
        font-size: 14px;
    }
    .info-produto{
        width: fit-content;
        
    }
    .item-carrinho .add-numero-itens{
        font-size: 14px;
        padding: 6px 0px;
        width: 24px !important;
    }
    .item-carrinho .btn-mais .btn-menos{
        padding: 2px 2px !important;
    }

    .carrinho-vazio{
        font-size: 16px;
    }
    .title-carrinho{
        font-size: 16px;
    }
    .container-total a , span, i{
        font-size: 14px;
        gap: 8px;
    }
    .container-total span i{
        margin-right: 8px;
    }

}